/*--- Avanquest WebEasy Page Style ---*/


.cc68               { /* Common */
	border          :   0.00pt none #15161a;
	}
.cc69               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc70               { /* Common */
	font            : bold 18pt 'Calibri';
	color           : #ffffff;
	}
.cc71               { /* Common */
	font            : bold 18pt 'Calibri';
	color           : #7ae241;
	}
.cc72               { /* Common */
	font            : 10pt 'Calibri';
	color           : #7ae241;
	}
.cc73               { /* Common */
	font            : bold 12pt 'Calibri';
	color           : #7ae241;
	}
.cc74               { /* Common */
	border          :   1.50pt solid #000000;
	}
.cc75               { /* Common */
	font            : bold 12pt 'Calibri';
	color           : #ffffff;
	}
.cc76               { /* Common */
	font            : 10pt 'Calibri';
	color           : #404040;
	}
.cc77               { /* Common */
	font            : 12pt 'Calibri';
	color           : #ffffff;
	}
.cc78               { /* Common */
	border          :   0.00pt none #7ae241;
	clip            : rect(0.00pt,43.50pt,2.25pt,0.00pt);
	}
span#e35            { /* trulybadgamer006014.gif */
	background      : transparent url(trulybadgamer006014.gif) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             : 726.75pt;
	width           : 655.50pt;
	height          : 248.25pt;
	}
span#e34            { /* trulybadgamer006013.gif */
	background      : transparent url(trulybadgamer006013.gif) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             :   0.00pt;
	width           : 657.00pt;
	height          :  65.25pt;
	}
span#e33            { /* trulybadgamer002012.jpg */
	background      : transparent url(trulybadgamer002012.jpg) no-repeat top left;
	position        : absolute;
	left            : 373.50pt;
	top             :   5.25pt;
	width           : 315.00pt;
	height          :  60.00pt;
	}
span#e32            { /* trulybadgamer006011.gif */
	background      : transparent url(trulybadgamer006011.gif) no-repeat top left;
	position        : absolute;
	left            :  29.25pt;
	top             :  57.75pt;
	width           : 657.00pt;
	height          :  43.50pt;
	}
div#e31             { /* TRULY */
	position        : absolute;
	left            : 117.00pt;
	top             :  12.00pt;
	width           :  49.50pt;
	height          :  21.75pt;
	}
div#e30             { /* BAD */
	position        : absolute;
	left            : 165.75pt;
	top             :  12.00pt;
	width           :  49.50pt;
	height          :  24.75pt;
	}
div#e29             { /* GAMER */
	position        : absolute;
	left            : 202.50pt;
	top             :  12.00pt;
	width           :  60.75pt;
	height          :  26.25pt;
	}
div#e28             { /* "if you're going to game... */
	position        : absolute;
	left            : 118.50pt;
	top             :  33.00pt;
	width           : 234.75pt;
	height          :  17.25pt;
	}
span#e27            { /* trulybadgamer001032.jpg */
	background      : transparent url(trulybadgamer001032.jpg) no-repeat top left;
	position        : absolute;
	left            :  38.25pt;
	top             :  10.50pt;
	width           :  76.50pt;
	height          :  46.50pt;
	}
span#e26            { /* trulybadgamer006010.gif */
	background      : transparent url(trulybadgamer006010.gif) no-repeat top left;
	position        : absolute;
	left            :  30.00pt;
	top             : 714.75pt;
	width           : 657.00pt;
	height          :  43.50pt;
	}
span#e25            { /* trulybadgamer001013.jpg */
	background      : transparent url(trulybadgamer001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 513.00pt;
	top             : 721.50pt;
	width           : 174.75pt;
	height          :  34.50pt;
	}
div#e24             { /* CURRENT TEAMS */
	position        : absolute;
	left            :  43.50pt;
	top             : 729.75pt;
	width           : 109.50pt;
	height          :  16.50pt;
	}
span#e23            { /* trulybadgamer001030.jpg */
	background      : transparent url(trulybadgamer001030.jpg) no-repeat top left;
	position        : absolute;
	left            : 369.75pt;
	top             : 768.75pt;
	width           : 304.50pt;
	height          :  77.25pt;
	}
span#e22            { /* trulybadgamer001029.jpg */
	background      : transparent url(trulybadgamer001029.jpg) no-repeat top left;
	position        : absolute;
	left            : 378.75pt;
	top             : 775.50pt;
	width           :  20.25pt;
	height          :  20.25pt;
	}
span#e21            { /* trulybadgamer001021.jpg */
	background      : transparent url(trulybadgamer001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 402.00pt;
	top             : 774.75pt;
	width           :  25.50pt;
	height          :  21.75pt;
	}
span#e20            { /* trulybadgamer001028.jpg */
	background      : transparent url(trulybadgamer001028.jpg) no-repeat top left;
	position        : absolute;
	left            : 618.00pt;
	top             : 811.50pt;
	width           :  56.25pt;
	height          :  31.50pt;
	}
span#e19            { /* trulybadgamer001027.jpg */
	background      : transparent url(trulybadgamer001027.jpg) no-repeat top left;
	position        : absolute;
	left            :  42.00pt;
	top             : 768.75pt;
	width           : 303.75pt;
	height          :  76.50pt;
	}
span#e18            { /* trulybadgamer001026.jpg */
	background      : transparent url(trulybadgamer001026.jpg) no-repeat top left;
	position        : absolute;
	left            :  45.75pt;
	top             : 774.75pt;
	width           :  20.25pt;
	height          :  20.25pt;
	}
span#e17            { /* trulybadgamer006005.gif */
	background      : transparent url(trulybadgamer006005.gif) no-repeat top left;
	position        : absolute;
	left            :  42.00pt;
	top             : 816.00pt;
	width           :  74.25pt;
	height          :  20.25pt;
	}
div#e16             { /* TEAM DUTY */
	position        : absolute;
	left            :  43.50pt;
	top             : 818.25pt;
	width           : 261.75pt;
	height          :  16.50pt;
	}
span#e15            { /* trulybadgamer006004.gif */
	background      : transparent url(trulybadgamer006004.gif) no-repeat top left;
	position        : absolute;
	left            : 369.75pt;
	top             : 816.00pt;
	width           :  87.00pt;
	height          :  20.25pt;
	}
div#e14             { /* TEAM DOOM */
	position        : absolute;
	left            : 372.75pt;
	top             : 818.25pt;
	width           : 102.00pt;
	height          :  16.50pt;
	}
div#e13             {
	position        : absolute;
	left            :  70.50pt;
	top             : 881.25pt;
	width           : 440.25pt;
	height          :  13.50pt;
	}
div#e12             { /* Copyright 2016 - Truly B... */
	position        : absolute;
	left            :  36.00pt;
	top             : 921.00pt;
	width           : 494.25pt;
	height          :  54.00pt;
	}
span#e11            { /* trulybadgamer006003.gif */
	background      : transparent url(trulybadgamer006003.gif) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             : 871.50pt;
	width           : 657.00pt;
	height          :  43.50pt;
	}
div#e10             { /* ADDITIONAL INFO. */
	position        : absolute;
	left            :  39.75pt;
	top             : 886.50pt;
	width           : 109.50pt;
	height          :  16.50pt;
	}
span#e9             { /* trulybadgamer001013.jpg */
	background      : transparent url(trulybadgamer001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 513.00pt;
	top             : 876.75pt;
	width           : 174.75pt;
	height          :  34.50pt;
	}
span#e8             { /* trulybadgamer006001.jpg */
	background      : transparent url(trulybadgamer006001.jpg) no-repeat top left;
	position        : absolute;
	left            : 646.50pt;
	top             :  23.25pt;
	width           :  43.50pt;
	height          :   2.25pt;
	}
div#e7              {
	position        : absolute;
	left            :  71.25pt;
	top             :  55.50pt;
	width           : 240.00pt;
	height          : 180.00pt;
	}
div#e6              { /* HOME */
	position        : absolute;
	left            : 341.25pt;
	top             :  10.50pt;
	width           :  49.50pt;
	height          :  18.00pt;
	}
div#e5              { /* NEWS */
	position        : absolute;
	left            : 396.00pt;
	top             :  10.50pt;
	width           :  49.50pt;
	height          :  18.00pt;
	}
div#e4              { /* SPONSERS */
	position        : absolute;
	left            : 515.25pt;
	top             :  10.50pt;
	width           :  68.25pt;
	height          :  18.00pt;
	}
div#e3              { /* WATCH */
	position        : absolute;
	left            : 590.25pt;
	top             :  10.50pt;
	width           :  54.00pt;
	height          :  18.00pt;
	}
div#e2              { /* TEAM */
	position        : absolute;
	left            : 457.50pt;
	top             :  10.50pt;
	width           :  49.50pt;
	height          :  18.00pt;
	}
div#e1              { /* CONTACT */
	position        : absolute;
	left            : 646.50pt;
	top             :  10.50pt;
	width           :  54.00pt;
	height          :  16.50pt;
	}
div#page            { /* Page Holder */
	background-color: #000000;
	position        : relative;
	width           : 712.50pt;
	height          :1125.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
