/*--- Avanquest WebEasy Page Style ---*/


.cc17               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc18               { /* Common */
	border          :   0.00pt none #ff8080;
	}
.cc19               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,401.25pt,0.75pt,0.00pt);
	}
.cc20               { /* Common */
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc21               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc22               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #a0a0a0;
	}
.cc23               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,183.75pt,1.50pt,0.00pt);
	}
.cc24               { /* Common */
	clip            : rect(0.00pt,17.25pt,17.25pt,0.00pt);
	}
.cc25               { /* Common */
	clip            : rect(0.00pt,16.50pt,16.50pt,0.00pt);
	}
.cc26               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,615.00pt,2.25pt,0.00pt);
	}
.cc27               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
span#e124           { /* tkd002064.gif */
	background      : transparent url(tkd002064.gif) no-repeat top left;
	position        : absolute;
	left            :  69.00pt;
	top             :   3.00pt;
	width           : 616.50pt;
	height          :3707.25pt;
	}
span#e123           { /* tkd002063.gif */
	background      : transparent url(tkd002063.gif) no-repeat top left;
	position        : absolute;
	left            :  72.75pt;
	top             : 151.50pt;
	width           : 609.00pt;
	height          :  37.50pt;
	}
span#e122           { /* tkd001051.jpg */
	background      : transparent url(tkd001051.jpg) no-repeat top left;
	position        : absolute;
	left            :  72.00pt;
	top             :   6.75pt;
	width           : 609.75pt;
	height          : 163.50pt;
	}
span#e121           { /* tkd002062.gif */
	background      : transparent url(tkd002062.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :3240.00pt;
	width           : 401.25pt;
	height          : 408.00pt;
	}
span#e120           { /* tkd002061.gif */
	background      : transparent url(tkd002061.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :3240.00pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e119           { /* tkd002060.gif */
	background      : transparent url(tkd002060.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :3282.00pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e118            { /* NOVEMBER 2015 | BTF BIRM... */
	position        : absolute;
	left            :  88.50pt;
	top             :3246.00pt;
	width           : 255.75pt;
	height          :  12.00pt;
	}
div#e117            { /* CONGRATULATIONS TO WALES... */
	position        : absolute;
	left            :  88.50pt;
	top             :3267.00pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e116            { /* Congratulations to Wales... */
	position        : absolute;
	left            :  86.25pt;
	top             :3514.50pt;
	width           : 388.50pt;
	height          : 115.50pt;
	}
img#e115            { /* tkd001059.jpg */
	position        : absolute;
	left            : 465.75pt;
	top             :3680.25pt;
	width           : 211.50pt;
	height          :  18.75pt;
	}
div#e114            { /* © copyright 2015 taekwon... */
	position        : absolute;
	left            :  78.00pt;
	top             :3332.25pt;
	width           : 378.00pt;
	height          :  16.50pt;
	}
div#e113            { /* +447718590243 | taekwond... */
	position        : absolute;
	left            :  78.00pt;
	top             :3347.25pt;
	width           : 378.00pt;
	height          :  12.00pt;
	}
span#e112           { /* tkd002059.jpg */
	background      : transparent url(tkd002059.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             :3282.75pt;
	width           : 399.75pt;
	height          : 224.25pt;
	}
div#e111            { /* © copyright 2015 taekwon... */
	position        : absolute;
	left            :  79.50pt;
	top             :3670.50pt;
	width           : 378.00pt;
	height          :  16.50pt;
	}
div#e110            { /* +447718590243 | taekwond... */
	position        : absolute;
	left            :  79.50pt;
	top             :3686.25pt;
	width           : 378.00pt;
	height          :  12.00pt;
	}
span#e109           { /* tkd002058.gif */
	background      : transparent url(tkd002058.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :3008.25pt;
	width           : 401.25pt;
	height          : 232.50pt;
	}
span#e108           { /* tkd002057.gif */
	background      : transparent url(tkd002057.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :3008.25pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e107           { /* tkd002056.gif */
	background      : transparent url(tkd002056.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :3050.25pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e106            { /* DECEMBER 2015 | BLACK BE... */
	position        : absolute;
	left            :  88.50pt;
	top             :3014.25pt;
	width           : 255.75pt;
	height          :  12.00pt;
	}
div#e105            { /* CONGRATULATIONS TO ETHAN... */
	position        : absolute;
	left            :  88.50pt;
	top             :3035.25pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e104            { /* All of WalesTKD would li... */
	position        : absolute;
	left            : 226.50pt;
	top             :3057.75pt;
	width           : 249.75pt;
	height          : 138.00pt;
	}
span#e103           { /* tkd002055.jpg */
	background      : transparent url(tkd002055.jpg) no-repeat top left;
	position        : absolute;
	left            :  86.25pt;
	top             :3054.75pt;
	width           : 135.00pt;
	height          : 177.75pt;
	}
span#e102           { /* tkd002054.gif */
	background      : transparent url(tkd002054.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2755.50pt;
	width           : 401.25pt;
	height          : 253.50pt;
	}
span#e101           { /* tkd002053.gif */
	background      : transparent url(tkd002053.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2755.50pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e100           { /* tkd002052.gif */
	background      : transparent url(tkd002052.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2797.50pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e99             { /* NEW BEGINNERS CLASS */
	position        : absolute;
	left            :  88.50pt;
	top             :2761.50pt;
	width           : 255.75pt;
	height          :  12.00pt;
	}
div#e98             { /* MERTHYR TYDFIL | FEBRUAR... */
	position        : absolute;
	left            :  88.50pt;
	top             :2782.50pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e97             { /* TAEKWON-DO MERTHYR TYDFI... */
	position        : absolute;
	left            : 230.25pt;
	top             :2808.75pt;
	width           : 249.75pt;
	height          : 183.00pt;
	}
img#e96             { /* tkd002051.jpg */
	position        : absolute;
	left            :  86.25pt;
	top             :2805.00pt;
	width           : 134.25pt;
	height          : 189.75pt;
	}
span#e95            { /* tkd002050.gif */
	background      : transparent url(tkd002050.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2451.75pt;
	width           : 401.25pt;
	height          : 304.50pt;
	}
span#e94            { /* tkd002049.gif */
	background      : transparent url(tkd002049.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2451.75pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e93            { /* tkd002048.gif */
	background      : transparent url(tkd002048.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2493.75pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e92             { /* GRADING | FEBRUARY 2016 */
	position        : absolute;
	left            :  88.50pt;
	top             :2457.75pt;
	width           : 257.25pt;
	height          :  12.00pt;
	}
div#e91             { /* CONGRATULATIONS TO THOSE... */
	position        : absolute;
	left            :  88.50pt;
	top             :2478.75pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e90             { /* Congratulations to all S... */
	position        : absolute;
	left            :  84.00pt;
	top             :2706.75pt;
	width           : 392.25pt;
	height          :  36.75pt;
	}
span#e89            { /* tkd002047.jpg */
	background      : transparent url(tkd002047.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             :2494.50pt;
	width           : 399.75pt;
	height          : 204.75pt;
	}
span#e88            { /* tkd002046.gif */
	background      : transparent url(tkd002046.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2082.75pt;
	width           : 401.25pt;
	height          : 369.75pt;
	}
span#e87            { /* tkd002045.gif */
	background      : transparent url(tkd002045.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2082.75pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e86            { /* tkd002044.gif */
	background      : transparent url(tkd002044.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :2124.75pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e85             { /* GRADING | FEBRUARY 2016 */
	position        : absolute;
	left            :  88.50pt;
	top             :2088.75pt;
	width           : 257.25pt;
	height          :  12.00pt;
	}
div#e84             { /* CONGRATS TO WALESTKD STU... */
	position        : absolute;
	left            :  88.50pt;
	top             :2109.75pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e83             { /* Another proud day for th... */
	position        : absolute;
	left            :  84.00pt;
	top             :2349.00pt;
	width           : 392.25pt;
	height          :  81.75pt;
	}
span#e82            { /* tkd002043.jpg */
	background      : transparent url(tkd002043.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             :2125.50pt;
	width           : 399.75pt;
	height          : 219.75pt;
	}
div#e81             {
	position        : absolute;
	left            :  84.00pt;
	top             :2433.75pt;
	width           : 391.50pt;
	height          :  14.25pt;
	}
span#e80            { /* tkd002042.gif */
	background      : transparent url(tkd002042.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 241.50pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
span#e79            { /* tkd002041.gif */
	background      : transparent url(tkd002041.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 288.75pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
span#e78            { /* tkd002040.gif */
	background      : transparent url(tkd002040.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 268.50pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
span#e77            { /* tkd002039.gif */
	background      : transparent url(tkd002039.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 345.75pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
span#e76            { /* tkd002038.gif */
	background      : transparent url(tkd002038.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 325.50pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
img#e75             { /* tkd002037.jpg */
	position        : absolute;
	left            : 489.75pt;
	top             : 219.75pt;
	width           : 183.00pt;
	height          : 162.00pt;
	}
div#e74             { /* T: +447718590243 \ \E: t... */
	position        : absolute;
	left            : 495.75pt;
	top             : 351.75pt;
	width           : 171.75pt;
	height          :  23.25pt;
	}
span#e73            { /* tkd002036.gif */
	background      : transparent url(tkd002036.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 401.25pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
img#e72             { /* tkd002035.jpg */
	position        : absolute;
	left            : 489.75pt;
	top             : 379.50pt;
	width           : 183.00pt;
	height          : 175.50pt;
	}
div#e71             {
	position        : absolute;
	left            : 520.50pt;
	top             : 408.00pt;
	width           : 137.25pt;
	height          :  14.25pt;
	}
div#e70             {
	position        : absolute;
	left            : 520.50pt;
	top             : 426.75pt;
	width           : 137.25pt;
	height          :  14.25pt;
	}
div#e69             {
	position        : absolute;
	left            : 520.50pt;
	top             : 446.25pt;
	width           : 137.25pt;
	height          :  14.25pt;
	}
div#e68             {
	position        : absolute;
	left            : 520.50pt;
	top             : 465.00pt;
	width           : 151.50pt;
	height          :  14.25pt;
	}
div#e67             {
	position        : absolute;
	left            : 520.50pt;
	top             : 485.25pt;
	width           : 137.25pt;
	height          :  14.25pt;
	}
span#e66            { /* tkd001048.jpg */
	background      : transparent url(tkd001048.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 405.75pt;
	width           :  17.25pt;
	height          :  17.25pt;
	}
span#e65            { /* tkd001048.jpg */
	background      : transparent url(tkd001048.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 425.25pt;
	width           :  17.25pt;
	height          :  17.25pt;
	}
span#e64            { /* tkd001044.jpg */
	background      : transparent url(tkd001044.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 463.50pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
span#e63            { /* tkd001048.jpg */
	background      : transparent url(tkd001048.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 444.75pt;
	width           :  17.25pt;
	height          :  17.25pt;
	}
span#e62            { /* tkd001045.jpg */
	background      : transparent url(tkd001045.jpg) no-repeat top left;
	position        : absolute;
	left            : 494.25pt;
	top             : 483.00pt;
	width           :  21.00pt;
	height          :  19.50pt;
	}
div#e61             {
	position        : absolute;
	left            : 520.50pt;
	top             : 506.25pt;
	width           : 137.25pt;
	height          :  14.25pt;
	}
span#e60            { /* tkd001044.jpg */
	background      : transparent url(tkd001044.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 505.50pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e59             {
	position        : absolute;
	left            : 520.50pt;
	top             : 525.75pt;
	width           : 172.50pt;
	height          :  14.25pt;
	}
span#e58            { /* tkd001044.jpg */
	background      : transparent url(tkd001044.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             : 525.00pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
span#e57            { /* tkd002030.gif */
	background      : transparent url(tkd002030.gif) no-repeat top left;
	position        : absolute;
	left            : 489.75pt;
	top             : 588.00pt;
	width           : 183.75pt;
	height          :   1.50pt;
	}
img#e56             { /* tkd002029.jpg */
	position        : absolute;
	left            : 489.75pt;
	top             : 566.25pt;
	width           : 183.00pt;
	height          : 292.50pt;
	}
img#e55             { /* tkd001041.jpg */
	position        : absolute;
	left            : 489.75pt;
	top             : 195.75pt;
	width           : 182.25pt;
	height          :  16.50pt;
	}
div#e54             { /* Classes Cancelled Until ... */
	position        : absolute;
	left            : 495.75pt;
	top             : 250.50pt;
	width           : 171.00pt;
	height          :  13.50pt;
	}
div#e53             {
	position        : absolute;
	left            : 492.75pt;
	top             : 592.50pt;
	width           : 177.75pt;
	height          : 263.25pt;
	}
span#e52            { /* tkd002028.gif */
	background      : transparent url(tkd002028.gif) no-repeat top left;
	position        : absolute;
	left            : 526.50pt;
	top             : 171.75pt;
	width           :   2.25pt;
	height          :  18.00pt;
	}
span#e51            { /* tkd002027.gif */
	background      : transparent url(tkd002027.gif) no-repeat top left;
	position        : absolute;
	left            : 474.75pt;
	top             : 171.00pt;
	width           :   2.25pt;
	height          :  18.75pt;
	}
span#e50            { /* tkd002026.gif */
	background      : transparent url(tkd002026.gif) no-repeat top left;
	position        : absolute;
	left            : 414.00pt;
	top             : 171.75pt;
	width           :   2.25pt;
	height          :  18.00pt;
	}
span#e49            { /* tkd002025.gif */
	background      : transparent url(tkd002025.gif) no-repeat top left;
	position        : absolute;
	left            : 339.00pt;
	top             : 171.75pt;
	width           :   2.25pt;
	height          :  18.00pt;
	}
span#e48            { /* tkd002024.gif */
	background      : transparent url(tkd002024.gif) no-repeat top left;
	position        : absolute;
	left            : 237.00pt;
	top             : 171.75pt;
	width           :   2.25pt;
	height          :  18.00pt;
	}
span#e47            { /* tkd002023.gif */
	background      : transparent url(tkd002023.gif) no-repeat top left;
	position        : absolute;
	left            : 167.25pt;
	top             : 171.75pt;
	width           :   2.25pt;
	height          :  18.00pt;
	}
div#e46             { /* Home Page */
	position        : absolute;
	left            : 111.75pt;
	top             : 174.75pt;
	width           :  51.00pt;
	height          :  11.25pt;
	}
div#e45             { /* Contact Us */
	position        : absolute;
	left            : 180.75pt;
	top             : 174.75pt;
	width           :  47.25pt;
	height          :  11.25pt;
	}
div#e44             { /* About Taekwon-do */
	position        : absolute;
	left            : 250.50pt;
	top             : 174.75pt;
	width           :  80.25pt;
	height          :  11.25pt;
	}
div#e43             { /* Instructors */
	position        : absolute;
	left            : 358.50pt;
	top             : 174.75pt;
	width           :  51.00pt;
	height          :  11.25pt;
	}
div#e42             { /* Events */
	position        : absolute;
	left            : 430.50pt;
	top             : 174.75pt;
	width           :  36.00pt;
	height          :  11.25pt;
	}
div#e41             { /* Shop */
	position        : absolute;
	left            : 607.50pt;
	top             : 174.75pt;
	width           :  30.75pt;
	height          :  11.25pt;
	}
div#e40             { /* Student Area */
	position        : absolute;
	left            : 535.50pt;
	top             : 174.75pt;
	width           :  58.50pt;
	height          :  11.25pt;
	}
span#e39            { /* tkd002022.jpg */
	background      : transparent url(tkd002022.jpg) no-repeat top left;
	position        : absolute;
	left            : 593.25pt;
	top             : 171.00pt;
	width           :   2.25pt;
	height          :  18.00pt;
	}
span#e38            { /* tkd002021.gif */
	background      : transparent url(tkd002021.gif) no-repeat top left;
	position        : absolute;
	left            :  69.75pt;
	top             : 170.25pt;
	width           : 615.00pt;
	height          :   2.25pt;
	}
span#e37            { /* tkd002020.gif */
	background      : transparent url(tkd002020.gif) no-repeat top left;
	position        : absolute;
	left            :  70.50pt;
	top             : 186.75pt;
	width           : 615.00pt;
	height          :   2.25pt;
	}
span#e36            { /* tkd002019.gif */
	background      : transparent url(tkd002019.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :1423.50pt;
	width           : 401.25pt;
	height          : 660.00pt;
	}
span#e35            { /* tkd002018.gif */
	background      : transparent url(tkd002018.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :1423.50pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e34            { /* tkd002017.gif */
	background      : transparent url(tkd002017.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :1465.50pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e33             { /* COMPETITION  | FEBRUARY ... */
	position        : absolute;
	left            :  88.50pt;
	top             :1429.50pt;
	width           : 257.25pt;
	height          :  12.00pt;
	}
div#e32             { /* SUCCESS FOR WALES TKD (L... */
	position        : absolute;
	left            :  88.50pt;
	top             :1450.50pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e31             { /* What another fantastic d... */
	position        : absolute;
	left            :  84.00pt;
	top             :1731.00pt;
	width           : 392.25pt;
	height          :  49.50pt;
	}
div#e30             {
	position        : absolute;
	left            :  84.75pt;
	top             :2061.75pt;
	width           : 384.75pt;
	height          :  14.25pt;
	}
span#e29            { /* tkd002016.jpg */
	background      : transparent url(tkd002016.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             :1466.25pt;
	width           : 399.75pt;
	height          : 259.50pt;
	}
div#e28             { /* Team Patterns:\ \\ \Bron... */
	position        : absolute;
	left            :  84.00pt;
	top             :1863.00pt;
	width           : 392.25pt;
	height          : 171.75pt;
	}
div#e27             { /* \ \Also well done to, Va... */
	position        : absolute;
	left            :  84.00pt;
	top             :1801.50pt;
	width           : 392.25pt;
	height          :  49.50pt;
	}
div#e26             { /* Gallery  */
	position        : absolute;
	left            : 486.75pt;
	top             : 174.75pt;
	width           :  30.75pt;
	height          :  12.75pt;
	}
span#e25            { /* tkd002015.gif */
	background      : transparent url(tkd002015.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :1145.25pt;
	width           : 401.25pt;
	height          : 279.00pt;
	}
span#e24            { /* tkd002014.gif */
	background      : transparent url(tkd002014.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :1145.25pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e23            { /* tkd002013.gif */
	background      : transparent url(tkd002013.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             :1187.25pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e22             { /* ITF EUROPEAN CHAMPIONSHI... */
	position        : absolute;
	left            :  88.50pt;
	top             :1151.25pt;
	width           : 257.25pt;
	height          :  12.00pt;
	}
div#e21             { /* UKTA HOSTING THE EUROPEA... */
	position        : absolute;
	left            :  88.50pt;
	top             :1172.25pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e20             {
	position        : absolute;
	left            :  82.50pt;
	top             :1189.50pt;
	width           : 396.75pt;
	height          : 231.75pt;
	}
span#e19            { /* tkd002012.gif */
	background      : transparent url(tkd002012.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             : 657.00pt;
	width           : 401.25pt;
	height          : 489.00pt;
	}
span#e18            { /* tkd002011.gif */
	background      : transparent url(tkd002011.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             : 657.00pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e17            { /* tkd002010.gif */
	background      : transparent url(tkd002010.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             : 699.00pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e16             { /* GRADING | APRIL 2016 */
	position        : absolute;
	left            :  88.50pt;
	top             : 663.00pt;
	width           : 255.75pt;
	height          :  12.00pt;
	}
div#e15             { /* CONGRATS TO WALESTKD STU... */
	position        : absolute;
	left            :  88.50pt;
	top             : 684.00pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e14             { /* A huge congratulations t... */
	position        : absolute;
	left            :  84.00pt;
	top             : 916.50pt;
	width           : 392.25pt;
	height          : 194.25pt;
	}
span#e13            { /* tkd002009.jpg */
	background      : transparent url(tkd002009.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             : 699.75pt;
	width           : 399.75pt;
	height          : 207.75pt;
	}
span#e12            { /* tkd002008.gif */
	background      : transparent url(tkd002008.gif) no-repeat top left;
	position        : absolute;
	left            :  24.75pt;
	top             :   3.00pt;
	width           :  38.25pt;
	height          : 282.75pt;
	}
img#e11             { /* tkd001003.jpg */
	position        : absolute;
	left            :  28.50pt;
	top             :   6.75pt;
	width           :  33.00pt;
	height          : 277.50pt;
	}
span#e10            { /* tkd002006.gif */
	background      : transparent url(tkd002006.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             : 207.00pt;
	width           : 401.25pt;
	height          : 450.75pt;
	}
span#e9             { /* tkd002005.gif */
	background      : transparent url(tkd002005.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             : 207.00pt;
	width           : 401.25pt;
	height          :  21.75pt;
	}
span#e8             { /* tkd002004.gif */
	background      : transparent url(tkd002004.gif) no-repeat top left;
	position        : absolute;
	left            :  80.25pt;
	top             : 249.00pt;
	width           : 401.25pt;
	height          :   0.75pt;
	}
div#e7              { /* COMPETITION | JUNE 2016 */
	position        : absolute;
	left            :  88.50pt;
	top             : 213.00pt;
	width           : 255.75pt;
	height          :  12.00pt;
	}
div#e6              { /* UKTA | WELSH OPEN 2016 */
	position        : absolute;
	left            :  88.50pt;
	top             : 234.00pt;
	width           : 388.50pt;
	height          :  12.00pt;
	}
div#e5              { /* Another Success Campaign... */
	position        : absolute;
	left            :  84.75pt;
	top             : 496.50pt;
	width           : 392.25pt;
	height          : 115.50pt;
	}
div#e4              {
	position        : absolute;
	left            :  84.75pt;
	top             : 622.50pt;
	width           : 359.25pt;
	height          :  14.25pt;
	}
span#e3             { /* tkd002003.jpg */
	background      : transparent url(tkd002003.jpg) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             : 249.75pt;
	width           : 399.75pt;
	height          : 243.75pt;
	}
img#e2              { /* tkd001002.jpg */
	position        : absolute;
	left            :  26.25pt;
	top             :   3.75pt;
	width           :  34.50pt;
	height          : 279.00pt;
	}
span#e1             { /* tkd001001.jpg */
	background      : transparent url(tkd001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 525.00pt;
	top             :   0.00pt;
	width           : 190.50pt;
	height          : 153.75pt;
	}
div#page            { /* Page Holder */
	background-color: #c0c0c0;
	position        : relative;
	width           : 745.50pt;
	height          :3750.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
