/*--- Avanquest WebEasy Page Style ---*/


.cc17               { /* Common */
	border          :   0.00pt none #15161a;
	}
.cc18               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc19               { /* Common */
	font            : bold 12pt 'Calibri';
	color           : #ffffff;
	}
.cc20               { /* Common */
	font            : bold 18pt 'Calibri';
	color           : #ffffff;
	}
.cc21               { /* Common */
	font            : bold 18pt 'Calibri';
	color           : #7ae241;
	}
.cc22               { /* Common */
	font            : 10pt 'Calibri';
	color           : #7ae241;
	}
.cc23               { /* Common */
	font            : bold 12pt 'Calibri';
	color           : #7ae241;
	}
.cc24               { /* Common */
	border          :   1.50pt solid #000000;
	}
.cc25               { /* Common */
	border          :   0.00pt none #7ae241;
	clip            : rect(0.00pt,35.25pt,2.25pt,0.00pt);
	}
.cc26               { /* Common */
	clip            : rect(0.00pt,64.50pt,14.25pt,0.00pt);
	}
.cc27               { /* Common */
	font            : 10pt 'Calibri';
	color           : #ffffff;
	}
.cc28               { /* Common */
	border          :   2.25pt solid #000000;
	}
.cc29               { /* Common */
	font            : 10pt 'Calibri';
	color           : #404040;
	}
.cc30               { /* Common */
	font            : 12pt 'Calibri';
	color           : #ffffff;
	}
span#e48            { /* trulybadgamer002021.gif */
	background      : transparent url(trulybadgamer002021.gif) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             :  38.25pt;
	width           : 655.50pt;
	height          : 616.50pt;
	}
span#e47            { /* trulybadgamer001032.jpg */
	background      : transparent url(trulybadgamer001032.jpg) no-repeat top left;
	position        : absolute;
	left            : 306.75pt;
	top             :  28.50pt;
	width           : 384.00pt;
	height          : 403.50pt;
	}
span#e46            { /* trulybadgamer001031.jpg */
	background      : transparent url(trulybadgamer001031.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             :  33.00pt;
	width           : 384.00pt;
	height          : 384.00pt;
	}
span#e45            { /* trulybadgamer002018.gif */
	background      : transparent url(trulybadgamer002018.gif) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             :   0.00pt;
	width           : 657.00pt;
	height          :  65.25pt;
	}
span#e44            { /* trulybadgamer001029.jpg */
	background      : transparent url(trulybadgamer001029.jpg) no-repeat top left;
	position        : absolute;
	left            : 373.50pt;
	top             :   5.25pt;
	width           : 315.00pt;
	height          :  60.00pt;
	}
span#e43            { /* trulybadgamer002016.gif */
	background      : transparent url(trulybadgamer002016.gif) no-repeat top left;
	position        : absolute;
	left            :  29.25pt;
	top             :  57.75pt;
	width           : 657.00pt;
	height          :  43.50pt;
	}
span#e42            { /* trulybadgamer002015.jpg */
	background      : transparent url(trulybadgamer002015.jpg) no-repeat top left;
	position        : absolute;
	left            : 490.50pt;
	top             :  59.25pt;
	width           : 196.50pt;
	height          :  43.50pt;
	}
div#e41             { /* TEAMS */
	position        : absolute;
	left            :  42.75pt;
	top             :  72.75pt;
	width           :  49.50pt;
	height          :  15.00pt;
	}
div#e40             { /* TRULY */
	position        : absolute;
	left            : 117.00pt;
	top             :  12.00pt;
	width           :  49.50pt;
	height          :  21.75pt;
	}
div#e39             { /* BAD */
	position        : absolute;
	left            : 165.75pt;
	top             :  12.00pt;
	width           :  49.50pt;
	height          :  24.75pt;
	}
div#e38             { /* GAMER */
	position        : absolute;
	left            : 202.50pt;
	top             :  12.00pt;
	width           :  60.75pt;
	height          :  26.25pt;
	}
div#e37             { /* "if you're going to game... */
	position        : absolute;
	left            : 118.50pt;
	top             :  33.00pt;
	width           : 234.75pt;
	height          :  17.25pt;
	}
span#e36            { /* trulybadgamer001025.jpg */
	background      : transparent url(trulybadgamer001025.jpg) no-repeat top left;
	position        : absolute;
	left            :  38.25pt;
	top             :  10.50pt;
	width           :  76.50pt;
	height          :  46.50pt;
	}
span#e35            { /* trulybadgamer002014.gif */
	background      : transparent url(trulybadgamer002014.gif) no-repeat top left;
	position        : absolute;
	left            :  30.00pt;
	top             : 387.75pt;
	width           : 657.00pt;
	height          :  43.50pt;
	}
span#e34            { /* trulybadgamer001006.jpg */
	background      : transparent url(trulybadgamer001006.jpg) no-repeat top left;
	position        : absolute;
	left            : 513.00pt;
	top             : 394.50pt;
	width           : 174.75pt;
	height          :  34.50pt;
	}
div#e33             { /* CURRENT TEAMS */
	position        : absolute;
	left            :  43.50pt;
	top             : 402.75pt;
	width           : 109.50pt;
	height          :  16.50pt;
	}
span#e32            { /* trulybadgamer001023.jpg */
	background      : transparent url(trulybadgamer001023.jpg) no-repeat top left;
	position        : absolute;
	left            : 369.75pt;
	top             : 441.75pt;
	width           : 304.50pt;
	height          :  77.25pt;
	}
span#e31            { /* trulybadgamer001022.jpg */
	background      : transparent url(trulybadgamer001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 378.75pt;
	top             : 448.50pt;
	width           :  20.25pt;
	height          :  20.25pt;
	}
span#e30            { /* trulybadgamer001014.jpg */
	background      : transparent url(trulybadgamer001014.jpg) no-repeat top left;
	position        : absolute;
	left            : 402.00pt;
	top             : 447.75pt;
	width           :  25.50pt;
	height          :  21.75pt;
	}
span#e29            { /* trulybadgamer001021.jpg */
	background      : transparent url(trulybadgamer001021.jpg) no-repeat top left;
	position        : absolute;
	left            : 618.00pt;
	top             : 484.50pt;
	width           :  56.25pt;
	height          :  31.50pt;
	}
span#e28            { /* trulybadgamer001020.jpg */
	background      : transparent url(trulybadgamer001020.jpg) no-repeat top left;
	position        : absolute;
	left            :  42.00pt;
	top             : 441.75pt;
	width           : 303.75pt;
	height          :  76.50pt;
	}
span#e27            { /* trulybadgamer001019.jpg */
	background      : transparent url(trulybadgamer001019.jpg) no-repeat top left;
	position        : absolute;
	left            :  45.75pt;
	top             : 447.75pt;
	width           :  20.25pt;
	height          :  20.25pt;
	}
span#e26            { /* trulybadgamer001009.jpg */
	background      : transparent url(trulybadgamer001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 471.75pt;
	top             :  24.75pt;
	width           :  35.25pt;
	height          :   2.25pt;
	}
div#e25             { /* HOME */
	position        : absolute;
	left            : 341.25pt;
	top             :  10.50pt;
	width           :  49.50pt;
	height          :  18.00pt;
	}
div#e24             { /* NEWS */
	position        : absolute;
	left            : 404.25pt;
	top             :  10.50pt;
	width           :  49.50pt;
	height          :  18.00pt;
	}
div#e23             { /* SPONSERS */
	position        : absolute;
	left            : 538.50pt;
	top             :  10.50pt;
	width           :  68.25pt;
	height          :  18.00pt;
	}
div#e22             { /* WATCH */
	position        : absolute;
	left            : 617.25pt;
	top             :  10.50pt;
	width           :  66.00pt;
	height          :  18.00pt;
	}
div#e21             { /* TEAM */
	position        : absolute;
	left            : 473.25pt;
	top             :  10.50pt;
	width           :  49.50pt;
	height          :  15.00pt;
	}
span#e20            { /* trulybadgamer001017.jpg */
	background      : transparent url(trulybadgamer001017.jpg) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             : 105.75pt;
	width           : 353.25pt;
	height          : 265.50pt;
	}
span#e19            { /* trulybadgamer001016.jpg */
	background      : transparent url(trulybadgamer001016.jpg) no-repeat top left;
	position        : absolute;
	left            :  41.25pt;
	top             : 111.75pt;
	width           : 120.75pt;
	height          :  34.50pt;
	}
span#e18            { /* trulybadgamer001015.jpg */
	background      : transparent url(trulybadgamer001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 331.50pt;
	top             : 129.75pt;
	width           :  20.25pt;
	height          :  20.25pt;
	}
span#e17            { /* trulybadgamer001014.jpg */
	background      : transparent url(trulybadgamer001014.jpg) no-repeat top left;
	position        : absolute;
	left            : 359.25pt;
	top             : 126.75pt;
	width           :  25.50pt;
	height          :  21.75pt;
	}
span#e16            { /* trulybadgamer001013.jpg */
	background      : transparent url(trulybadgamer001013.jpg) no-repeat top left;
	position        : absolute;
	left            : 322.50pt;
	top             : 111.75pt;
	width           :  64.50pt;
	height          :  14.25pt;
	}
span#e15            { /* trulybadgamer002005.gif */
	background      : transparent url(trulybadgamer002005.gif) no-repeat top left;
	position        : absolute;
	left            :  35.25pt;
	top             : 307.50pt;
	width           : 278.25pt;
	height          :  51.75pt;
	}
div#e14             { /* WE'RE LOOKING FOR YOU! */
	position        : absolute;
	left            :  36.75pt;
	top             : 309.75pt;
	width           : 261.75pt;
	height          :  16.50pt;
	}
div#e13             { /* Feel like you are up to ... */
	position        : absolute;
	left            : 399.00pt;
	top             : 137.25pt;
	width           : 275.25pt;
	height          : 204.75pt;
	}
div#e12             {
	position        : absolute;
	left            : 192.00pt;
	top             : 170.25pt;
	width           : 187.50pt;
	height          : 105.75pt;
	}
span#e11            { /* trulybadgamer002004.gif */
	background      : transparent url(trulybadgamer002004.gif) no-repeat top left;
	position        : absolute;
	left            :  42.00pt;
	top             : 489.00pt;
	width           :  74.25pt;
	height          :  20.25pt;
	}
div#e10             { /* TEAM DUTY */
	position        : absolute;
	left            :  43.50pt;
	top             : 491.25pt;
	width           : 261.75pt;
	height          :  16.50pt;
	}
span#e9             { /* trulybadgamer002003.gif */
	background      : transparent url(trulybadgamer002003.gif) no-repeat top left;
	position        : absolute;
	left            : 369.75pt;
	top             : 489.00pt;
	width           :  87.00pt;
	height          :  20.25pt;
	}
div#e8              { /* TEAM DOOM */
	position        : absolute;
	left            : 372.75pt;
	top             : 491.25pt;
	width           : 102.00pt;
	height          :  16.50pt;
	}
div#e7              {
	position        : absolute;
	left            :  70.50pt;
	top             : 554.25pt;
	width           : 440.25pt;
	height          :  13.50pt;
	}
div#e6              { /* Copyright 2016 - Truly B... */
	position        : absolute;
	left            :  36.00pt;
	top             : 594.00pt;
	width           : 494.25pt;
	height          :  54.00pt;
	}
span#e5             { /* trulybadgamer002002.gif */
	background      : transparent url(trulybadgamer002002.gif) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             : 544.50pt;
	width           : 657.00pt;
	height          :  43.50pt;
	}
div#e4              { /* ADDITIONAL INFO. */
	position        : absolute;
	left            :  39.75pt;
	top             : 559.50pt;
	width           : 109.50pt;
	height          :  16.50pt;
	}
span#e3             { /* trulybadgamer001006.jpg */
	background      : transparent url(trulybadgamer001006.jpg) no-repeat top left;
	position        : absolute;
	left            : 513.00pt;
	top             : 549.75pt;
	width           : 174.75pt;
	height          :  34.50pt;
	}
div#e2              { /* WE'RE LOOKING FOR YOU! */
	position        : absolute;
	left            : 399.00pt;
	top             : 108.00pt;
	width           : 261.75pt;
	height          :  21.75pt;
	}
div#e1              { /* We’re currently looking ... */
	position        : absolute;
	left            :  37.50pt;
	top             : 327.75pt;
	width           : 261.75pt;
	height          :  24.75pt;
	}
div#page            { /* Page Holder */
	background-color: #000000;
	position        : relative;
	width           : 712.50pt;
	height          : 750.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
